@media print {
    img, svg, .fa-icon {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  
    header, footer, nav, .screen-only {
      display: none !important;
    }
  
    @page {
      size: A4;
      margin: 1cm;
    }
    body {
      margin: 0;
    }
  }
  